:root{
  --blue:	rgb(2, 117, 216);
  --green:#47AE6A;
  --grey:rgb(171, 166, 166);
}
@font-face {
  font-family: "fontrounded"; 
  src: url(arial-rounded.ttf);
}

  body{
    top: 0;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
  } 
  .full-height{
    display: flex;
    flex-direction: column;
    font-family: "fontrounded"; 
  }
/* Section : */

.asd-menu a{
  color: white;
  text-decoration: none;
}

.asd-menu:hover a {
  color: black;
}

.padding_8{
  padding-left: 8%;
}
.marg-bot{
  margin-top: 5%;
}
.center-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
}
.col-3{
  background-color: rgb(240, 236, 236);
  padding: 0 !important;
  width: 24% !important;
  margin-left: -6px;
}
.commentaire{
  height: 50px;
}

form .btn{
background-color: var(--green);
}
form .btn:hover{
background-color: var(--green);
transform: scale(1.1);
transition: 0.5s;
}

  /* Footer *************************************/
 
#lire_plus{
  color: blue;
  cursor: pointer;
}
.pbord{
  color:gray;
  padding:2%;
  border: 1px solid gray;
  border-radius:2px;
}
/* .cmntdisplay{
  display:grid;
  
} */
.page {
  display: none;
}
/* 
.btnpage {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
} */
/* .btnpage:hover {
  opacity: 0.8;
}
#precedBtn {
  background-color: #bbbbbb;
} */
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: #23faab;
  opacity: 1;
}

.step.finish {
  background-color: #04AA6D;
}
.page h1{
  text-align: center;
  padding-bottom: 20px;
  margin-top: 40px;
}
.tabasd td{
  color:white;
  cursor: pointer;
}
